* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: lightblue;
    width: 85%;
    margin: auto;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

fieldset {
    min-width: 500px;
    min-height: 200px;
}

legend {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 2.5px;
}

div {
    display: flex;
    flex-flow: row wrap;
}

div > * {
    flex: 1 1 200px ;
    margin: 5px 5px;
}

span {
    font-size: 13px;
}