* {
    box-sizing: border-box;
}

fieldset {
    max-width: 600px;
}

div {
    display: flex;
    flex-flow: row wrap;
}

div > * {
    flex: 1 0 300px ;
    margin: 5px 5px;
}


/* html {
    background-color: whitesmoke;
}

body {
    background-color: lightgrey;
    width: 80%;
    margin: auto;
    text-align: center;
    min-height: 500px;
}

h1 {
    padding: 1rem 0;
} */
